.btn {
    margin-left: 3px;
    margin-right: 3px;
}

.markedAsDone {
    text-decoration: line-through;
    color: #777;
}

.tableActions {
    width: 150px;
}

.todoForm {
    padding-bottom: 60px
}